* {
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: rgba(0, 240, 0, 0.75);
  position: fixed;
}

canvas {
  height: 100%;
  width: 100%;
}